src/build/
src/clear*
src/g*
src/install/
src/build/
src/log/
src/pick*
src/real*
src/ros_gz/
src/ros2_control*
src/control_msgs/
src/ros2_robotiq*
src/serial/
build/
log/
install/
scripts/visualization/visualization_output/
sam_b.pt
yolov8m-world.pt